@model System.Collections.Generic.List<GDStore.DAL.Interface.Domain.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<table class="table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Select customer</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a>@Html.ActionLink("Select", "Index", "Suit", new { customerId = item.Id }, new { @class = "btn btn-default" })</a>
            </td>
        </tr>
    }
</table>