@model dynamic

    @{
        ViewBag.Title = "Failed to add alteration";
    }

<h2>Failed to add alteration</h2>
<a>@Html.ActionLink("Add alteration", "Add", "Alteration", new { ViewBag.SuitId }, new { @class = "btn btn-default" })</a>